
<div class="slider col m8 offset-m3" style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
    <ul class="slides">
      <li>
        <img src="img/1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="img/3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    
    </ul>
  </div>
  </div>
  <br>
  <br>
<!-- <section class="row" ng-controller="myCtrl" style="position :relative;width:100%">


<div class="col s12 m12" ng-repeat="x in category" style="height:300px;;margin-top:5px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
    <div class="card horizontal row">

      <div class="card-image col m2" style="border-right:1px solid grey">
      <h5 style="margin-top:50%">{{x}}</h5>
      <a href="#" class="btn waves-effect" style="background-color:#0096d9"> View all</a>
      </div>

      <div class="card-stacked col m8 offset-m1">
        <div class="card-content">
         

  
  <div class="row" style="display:inline-block;width:100%" ng-controller="product">
    <div class="col m3 s6 shadow" id="t" style="display:inline;height:250px;width:25%;" ng-repeat="x in xx">
         <center> <a href="/product_description/"> <img src="{{x.image}}" class="img-responsive center-align" style="height: 140px; padding-left: 17px;padding-top: 13px;" >
          <span style="color:grey;">  <p> {{x.name}}</p> </span>
          <span style="color:grey;"><p>&nbsp; &nbsp;{{x.price}}</p></span>
          <span style="color:grey;"> <p style="font-size:2px;">{{x.rating}} <i class="material-icons">stars</i></p></span></a></center>
    </div>
                
  

     
    
  </div>
  

  </div>
        
      </div>
      <div class="col m1">
      
      </div>
    </div>
  </div>
  </div>

</section> -->


  <div style="height:100px">


</div>





