<div class="col m8 offset-m3">
                <h5>Orders</h5>
                <h5>User name : jbvsdgfvghsd </h5>
                <div class="row">
                <div class="col m12" style="box-shadow: 0 7px 17px 0 rgba(23,84,116,0.18); height:25em;background-color: white;margin-top:20px;border:1px solid lightgrey;" ng-repeat="x in content">


                  <p> Order No: {{x.orderNo}}</p>
                 <p>  Placed on  date {{x.orderitems.orderDate}} / Rs. {{x.orderitems.productPrice}}/ {{x.orderitems.productQuantity}} items</p>
                 <hr>
                 <div class="col s12 m12">
                    <div class="card horizontal">
                      <div class="card-image" style="width:40%;height:200px;">
                        <img src="{{x.orderitems.productImage}}" style="max-height: 100%;max-width:100%;">
                      </div>
                      <div class="card-stacked">
                  <div class="row" style="width:100%">
                        <div class="card-content col m6 s12">
                          <p>{{x.orderitems.productName}}</p>
                          <p>Seller : {{x.orderitems.merchantName}}</p>
                          <p>Price : {{x.orderitems.productPrice}}</p>
                          <p>Quantity : {{x.orderitems.productQuantity}} </p>
                      
                        </div>
                    <div class="col m6 s12">
                    <br>
                        <p>Total : {{x.orderitems.productPrice*x.orderitems.productQuantity}}</p>
                      <p>Status : {{x.orderitems.orderStatus}}</p>
                    </div>
                    </div>
                        
                      </div>
                    </div>
                  </div>

          </div>
          <div class="col m12">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">Give Feedback</div>
                          <div class="collapsible-body">
                          <span><input type="text" id="feedback{{x.productid}}" placeholder="Feedback">
                          <select style="display:inline-block;width:50%" ng-model="qty{{x.productid}}">
                            <option value="" disabled selected>Rating</option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option></select>
                            <button type="submit" class="btn">Submit</button> </span></div>
                        </li>
                        
                      </ul>
                </div>   
           </div>
        
           </div> 
</div>

  <div style="height:100px">


</div>



