<!--
<html>
    
    <head>  
        <title> prod_desc </title>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="">
    <div ng-include="'/Users/coviam/Desktop/prodDesc/include/header.html'"></div>

    <div ui-view=""></div>  


    <div ng-include="'include/footer.html'"></div>

    </body>
    
</html>-->

<!DOCTYPE html>
  <html>
    <head>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js'></script>
        <script>
            var app = angular.module('ecomm', ['ngStorage']);
            app.controller('prodDesc', ['$scope', '$localStorage', '$http', function($scope, $localStorage, $http) {
                $scope.qty;
                $scope.xx=[{
                    "name":"iphone 6s",
                    "price":"$250",
                    "image":"img/apple.jpeg",
                    "seller":"seller1",
                    "rating":5,
                    "usp":"",
                    "desc":["jshiwhciwdhbc,jdnckjdcdjwc.jdbcdbcdbc",
                  "djhgdjcfgdhcgdhcgvdskhjcgdkyucgdhcvhgcvckyhagvcghcvac",
                  "hdfgkyvgwuygvuybvuyvbruyvruyfhewucnjhvbfuybvrvyrvbyr"],
                    "attr":"",
                    "pid":""
                }];
                
            $scope.addTocart = function(){
                
                for (var i in $scope.xx){

                    $localStorage.setItem('name',i.name);
                    $localStorage.setItem('pid',i.pid);
                     $localStorage.setItem('image',i.image);
                     $localStorage.setItem('price',i.price);
                    $localStorage.setItem('seller',i.seller);
                }
                console.log("Inside cart function");
                console.log($scope.qty);
                $localStorage.setItem = ('qty',$scope.qty);
                console.log("local storage set");
                $scope.qty = "";                
                console.log("qty empty");
                console.log($scope.qty);
                console.log($localStorage.getItem('name'));
                alert("item added to cart");
            };
                
                $scope.merchants=[{
                    "id":1298,
              "price":20,
              "image":"img/apple-iphone-6s-mn112hn-a-original-imaen3f3dynmw8fg.jpeg",
              "rating": 4,
              "name":"kuchbi" ,
              "seller":"seller3" 
            },
            {
              "price":21,
              "image":"img/apple-iphone-6s-mn112hn-a-original-imaen3f3dynmw8fg.jpeg",
              "rating": 3,
              "name":"Iphone 5s" ,
              "seller":"seller5"
            },
            {
              "price":24,
              "image":"img/apple-iphone-6s-mn112hn-a-original-imaen3f3dynmw8fg.jpeg",
              "rating": 6,
              "name":"Iphone 6s black" ,
              "seller":"seller4"
            }];
//                $http.get('http://localhost:8080/getproduct_description').then(function (response) {
//                    $scope.content = response;
//                });
            }]);
        </script>
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
<!--        <script type="text/javascript" src="/Users/coviam/Desktop/prodDesc/js/prodDescCtrl.js"></script>-->
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"/>
      <link type="text/css" rel="stylesheet" href="css/styleprodDesc.css">
        
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-app="ecomm" ng-controller="prodDesc">
    <div class="navbar-fixed">    
        <nav class="white">

            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Ecommerce</a>  
              
                <ul class="hide-on-med-and-down right">               
                    <li>    
                       <div class="center row">
                          <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                              <div class="input-field col s6 s12 bcolor">
                                <i class="b-text material-icons prefix">search</i>
                                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete b-text" >
                                </div>
                              </div>
                            </div>
                          </div>          
                      </li>                     
                    <li><a class="dropdown-button b-text" href="#!" data-activates="dropdown" data-beloworigin="true" ><i class="material-icons">shopping_cart</i> </a></li>
                    <li><a class="b-text modal-trigger" href="#modal1"><i class="material-icons">view_list</i> </a></li>
                </ul>
                
                <ul id="dropdown" class="dropdown-content collection">
                    <li class="collection-item avatar">
                        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    </li>
                </ul>
                
            </div>
          </nav>     
    </div>
    <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>Orders</h4>
                    <p>Enter yout email to view your orders</p>
                    <br>
                    <form >
                    <div class="input-field">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                    <button class="waves-effect waves-light btn" type="submit">button</button>
                    </form>
                  </div>
    </div>
        
        
    <div class="row" style="width:100%; margin-top:5%"  ng-repeat="x in xx">
            <div class="col s3 m3 offset-m2">
                <img src="{{x.image}}" width="100%" height="100%" ><br/>
                <select ng-model="qty">
                  <option value="" disabled selected>Quantity</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <p>Stock</p>
                <button class="btn waves-effect" style="background-color:#0096d9" ng-click = "addTocart()"> Add to cart </button>
            </div>
            
            <div class="col s5 m5 offset-s2 offset-m2" >
                <h5>{{x.name}}</h5>
                Sold by: {{x.seller}}<br/>
                <h5>{{x.price}}</h5><br/>
                <p class="subhead">USP</p> <br/>
                <p class="subhead">Attributes</p> <br/>
                <p class="subhead">Product Description</p> {{x.desc.join(" ")}}<br/>
                <p class="subhead">Reviews and rating by customers</p> Rating:{{x.rating}}<br/>Review:{{x.review}}
            </div>
    </div>
            <section class="row" style="position :relative;width:100%">
                <center><h5>Other Merchants selling this product</h5></center>
  <div class="col m8 offset-m3" ng-repeat="y in merchants">
  <div class="row" style="display:inline-block;width:100%;">
    
      <div class="col m3 s6 shadow" id="t" style="display:inline;height:280px;width:25%;">
        <center>
          <a href="/product_description/{{ y.id }}"> <img src="{{y.image}}" class="img-responsive center-align" style="height: 140px;width: auto;padding-top: 13px;" >
          <span style="color:grey;">  <p> {{y.name}} </p> </span>
        <span style="color:grey;">  <p> {{y.seller}} </p> </span>      
          <span style="color:grey;"><p>${{y.price}}</p></span>
          <span style="color:grey;"> <p>{{y.rating}} <i class="material-icons">stars</i></p></span></a></center>
    </div>
    
  </div>
  </div>
</section>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ecommerce Logo</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>   
        
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/style.js"></script>
      <script>
            $(document).ready(function(){                 
                $('input.autocomplete').autocomplete({
                data: {
                    "Apple": null,
                    "Microsoft": null,
                    "Google": null,
                    "Gargle":null
                }
                }); 
                $('select').material_select();               
                });
      </script> 
        
</body>
</html>